/* Body */

body {
    background-image: url(../images/images.jpg);
}
#scontainer {
    background-color: aliceblue;
}

/* Jumbotrons */

#fjumbotron {
    margin: 10px;
    padding: 10px;
    background-color: red;
    color: aliceblue;
}

/* Cards */
.card {
    margin: 30px;
    padding: 0px;
    border-radius: 7px;
}
.card-head {
    background-color: red;
    color: aliceblue;
    margin: 0px;
    padding: 10px;
    border-radius: 7px;
}
#scard,
#xcard {
    margin: 30px;
}

/* Buttons */
.btn {
    color:white;
    background:none;
    background-color:#B3B3B3;
    border-radius:5px;
    text-shadow:none;
    margin: 10px;
}
#add-button {
    margin: 10px;
    background: none;
    background-color: #B3B3B3;
    color: white;
    border-radius: 5px;
    text-shadow: none;
}
.question-img {
    height: 200px;
    width: 200px;
}